
<div class="content-area header-minimal {% if headerCenter %}header-minimal-centered{% endif %}">
  {% if headerCenter %}
    {%
      render 'header-fullnav',
      headerLayout: headerLayout,
      headerCenter: headerCenter
    %}
    {%
      render 'header-storetitle',
      headerLayout: headerLayout,
      headerCenter: headerCenter,
      logo: logo,
      logoWidth: logoWidth
    %}
  {% else %}
    {%
      render 'header-storetitle',
      headerLayout: headerLayout,
      headerCenter: headerCenter,
      logo: logo,
      logoWidth: logoWidth
    %}
    {%
      render 'header-fullnav',
      headerLayout: headerLayout,
      headerCenter: headerCenter
    %}
  {% endif %}

  {%
    render 'header-tools',
    type: 'header-minimal',
    layout: headerLayout
    logoCentered: headerCenter,
    cartIcon: cartIcon
  %}
</div>
