
<section class="product__dynamic-section image-text__section iwt__2">
  <div class="section__background">
    <div class="content-area">

      <div class="section__heading hidden_mobile">
        <h2>Don’t <span class="accent__blue">Sleep</span> on This Offer!</h2>
      </div>

      <div class="content__wrap">

        <div class="dynamic_content__image">
          <img src="https://cdn.shopify.com/s/files/1/0068/7420/2167/files/iwt__2.png?v=1616070553">
        </div>

        <div class="section__heading hidden_desktop">
          <h2>Don’t <span class="accent__blue">Sleep</span> on This Offer!</h2>
        </div>
        
        <div class="dynamic_content__text">
          <div class="content__max-wrap">
            {% comment %} Copy to metafields {% endcomment %}
            <h3 class="iwt__heading">1. Early - Bird Price:</h3>
            <p>Up to <span class="accent__red">12% OFF</span> during the launch promotion. Just for the first <span class="accent__blue">100 New Customers!</span></p>
            <h3 class="iwt__heading">2. Secure your Calming Furniture Protector:</h3>
            <p>Many times a month we are running out of stock easily due to the high demand! Order it while stocks remain or <span class="accent__blue">Pre-Order</span> it to secure your exclusive dog bed before anyone else!</p>
            <h3 class="iwt__heading">3. Ultimate Comfy Offer Included:</h3>
            <p><span class="accent__red">$90</span> + <span class="accent__blue">of FREE Bonuses</span> included in your order if you pre-order today. (Check below for more details)</p>
            {% comment %} Copy to metafields {% endcomment %}

            <div class="action-buton__wrap">
              <a href="" class="action-button wider__button">Order Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>