@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=3e03c9ec81c5cdc1848d258b380458cca79d91a4401bdca5c9ec9102bda59781") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=82ed4ecd22ac86f1ea2261fedb70b43e29c26e2c27b18e44f9ed8b09db06d3ee") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ae02483b3d5e8777d0d4a4ccf396482c364d8955.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=8a47463b4e4bb045ea45684af23999d2abdfc683a00c3aad75d7f3e79c487329") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ba28d1a04ec09448de486d83c63235903dfc0af8.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=df01ec33f41b35581b0c22b0eccea51c74bbdb94dcbc0da30bb212ecf0a49e16") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=5fd738a9751211529ff6e77ca8295fd752252118d33de7a910463156dfd228a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=b35c15f531d7458e361ebf3885ffa15145fdb51ba3ac9bc72f822a424d191711") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=27def7e3d1c09c2c378e113a0e7657765e06d20d209117d1b3900dcc7d861e6e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=d9c02cb51db4cbd8370f3a4cbf7aa697d53eb5fcdd18b5efa7d384bc74dee484") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.7a3c341961dc23aaabcc116124b80f2a7abec1a2.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=185849683a8f5a7e9368a369c93f2292168178a68fe0d5b9f3846732372964cf") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n6.2c97c1a692c63ad09ab0635cb73b1939c5f417c0.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=277b3ad542748506744a00cc3c96e6e57811a9e4042120214e09a475e0efa9a2") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i6.bb32b9769003f43740e1d34d4950111dc499f6a3.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=e31f7f72978fba71d150617e48273ab834b0d34a30051d2b013aa9e993e089ad") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i6.03e5487c9d0e38a8b7842611c321007444720c45.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=321d8e2a0f403433eef7ac2512fc390bedf3a10454cf7d1b34123d9c39476d5c") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.ddaed62de62f3d3d87e64f4d0463dca05fc9c8e4.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=7fc6bbf50586d081e4bbdfd7f4b157a96b15effc6669b4f44770e541df28d624") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n9.85cc5f32e331fc9b3a109639b08869c64782e161.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=1369fbfa31426f4464980dacdfba61ea9634c77cdb6bd9b8d19ae2584175c2c8") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i9.7523f2a03fdaaa8b60d141507f9ba8d5c839661a.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=4fb69f0d6b62aa9b111862c14da31a7f1b5da46a5fac2509839b7b1ec7f9ec9c") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i9.fb9fe3dd44a3fefe44594bbed91d1246d54a459f.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=3070b7287edfff074ad75b9a4c1f9a54857ed336aee0dee4bb40f911ce05b68d") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=3e03c9ec81c5cdc1848d258b380458cca79d91a4401bdca5c9ec9102bda59781") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=82ed4ecd22ac86f1ea2261fedb70b43e29c26e2c27b18e44f9ed8b09db06d3ee") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ae02483b3d5e8777d0d4a4ccf396482c364d8955.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=8a47463b4e4bb045ea45684af23999d2abdfc683a00c3aad75d7f3e79c487329") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ba28d1a04ec09448de486d83c63235903dfc0af8.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=df01ec33f41b35581b0c22b0eccea51c74bbdb94dcbc0da30bb212ecf0a49e16") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=3e03c9ec81c5cdc1848d258b380458cca79d91a4401bdca5c9ec9102bda59781") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=82ed4ecd22ac86f1ea2261fedb70b43e29c26e2c27b18e44f9ed8b09db06d3ee") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ae02483b3d5e8777d0d4a4ccf396482c364d8955.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=8a47463b4e4bb045ea45684af23999d2abdfc683a00c3aad75d7f3e79c487329") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ba28d1a04ec09448de486d83c63235903dfc0af8.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=df01ec33f41b35581b0c22b0eccea51c74bbdb94dcbc0da30bb212ecf0a49e16") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=5fd738a9751211529ff6e77ca8295fd752252118d33de7a910463156dfd228a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=b35c15f531d7458e361ebf3885ffa15145fdb51ba3ac9bc72f822a424d191711") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=27def7e3d1c09c2c378e113a0e7657765e06d20d209117d1b3900dcc7d861e6e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=d9c02cb51db4cbd8370f3a4cbf7aa697d53eb5fcdd18b5efa7d384bc74dee484") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=3e03c9ec81c5cdc1848d258b380458cca79d91a4401bdca5c9ec9102bda59781") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=82ed4ecd22ac86f1ea2261fedb70b43e29c26e2c27b18e44f9ed8b09db06d3ee") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ae02483b3d5e8777d0d4a4ccf396482c364d8955.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=8a47463b4e4bb045ea45684af23999d2abdfc683a00c3aad75d7f3e79c487329") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i4.ba28d1a04ec09448de486d83c63235903dfc0af8.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=df01ec33f41b35581b0c22b0eccea51c74bbdb94dcbc0da30bb212ecf0a49e16") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.c496e9cf2031deec4c4bca338faa81971c8631d4.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=5fd738a9751211529ff6e77ca8295fd752252118d33de7a910463156dfd228a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n7.78b0223375c94b39ce1af7e09a0225f2bb3d05f7.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=b35c15f531d7458e361ebf3885ffa15145fdb51ba3ac9bc72f822a424d191711") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.83866c3eec90071fa974c17980ffb42977f9e667.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=27def7e3d1c09c2c378e113a0e7657765e06d20d209117d1b3900dcc7d861e6e") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i7.25524241b12d864609c85325613d60efcf1a87e3.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=d9c02cb51db4cbd8370f3a4cbf7aa697d53eb5fcdd18b5efa7d384bc74dee484") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_n1.5d88a87882738fad15a2998811eb02da674c34b7.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=945f8ee285d9d955db4e4aca8f6b29285513dbc0c3084d56f037360378a5d216") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_n1.fb1bab80a0825bd1689305e8de1e1eaaf5fcf82c.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=7a6fd216115b6668d97bd527f04783156123ee3f37cab30153ed8a9f87952473") format("woff");
}

  @font-face {
  font-family: Montserrat;
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/montserrat/montserrat_i1.e0d48b75ebea167e75a7815982e086773a791923.woff2?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=a43aedb1d84b79a07406a357603352a4810afc4c5f4f077797b3ca83698017a7") format("woff2"),
       url("https://fonts.shopifycdn.com/montserrat/montserrat_i1.952b18f055b9e035d3bf6db57907ac935f1d4c09.woff?h1=dGhlZG9nc2xhbmRpbmcuY29t&h2=c3VwcG9ydC50aGVkb2dzbGFuZGluZy5jb20&hmac=ee1e3b24f5512f71064954dbefe4b988bf3fffd579df656d0ae7cdeea26640a3") format("woff");
}




  

  
  

  
  
  

  
  
  

  
  
  

  

  
  

  
  

  
  
  

  
  

  
  
@keyframes placeholder-pulse {
  from {
    background-color: 






#f2f2f2




;
  }
  to {
    background-color: #e5e5e5;
  }
}
.template-gift_card {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 400;
}
.template-gift_card a {
  text-decoration: none;
}
.template-gift_card .btn {
  display: inline-block;
  padding: 1.5em;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  vertical-align: baseline;
  background-color: #58686f;
  border-radius: 4px;
  zoom: 1;
}
.template-gift_card .btn:hover {
  background-color: #414d53;
}
.template-gift_card .wrap {
  width: 95%;
  max-width: 540px;
  margin: 0 auto;
}
.template-gift_card .wrap::after {
  display: table;
  clear: both;
  content: "";
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(2000px) rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes container-slide {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.template-gift_card header {
  padding: 3em 0;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .shop-title {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 600;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  font-size: 2.25em;
  color: #bfbfbf;
}
.template-gift_card .shop-title:hover {
  color: #999;
}
.template-gift_card .shop-title img {
  max-height: 100%;
  margin: 0 auto;
}
.template-gift_card main {
  padding-bottom: 3em;
  animation: slideup 0.8s ease-in-out;
}
.template-gift_card .gift-card-outer-container {
  padding: 1em;
  background-color: #34aadc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  animation: container-slide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  animation: cardslide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container::after {
  display: table;
  clear: both;
  content: "";
}
.template-gift_card .gift-card-header {
  position: relative;
  display: block;
  padding: 0.75em;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.template-gift_card .gift-card-header h2 {
  float: left;
  margin: 0.12em 0;
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 400;
}
.template-gift_card .gift-card-header .tag {
  float: right;
}
.template-gift_card .tag {
  padding: 0.5em;
  padding-bottom: 0.35em;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  background-color: #bfbfbf;
  border-radius: 4px;
}
.template-gift_card .tag.light {
  color: #bfbfbf;
  background: transparent;
  border: 1px solid #d9d9d9;
}
.template-gift_card .gift-card-holder {
  position: relative;
  margin: 1.25em 0.75em;
}
.template-gift_card .gift-card-holder .corner {
  position: absolute;
  z-index: 2;
  display: block;
  width: 47px;
  height: 47px;
}
.template-gift_card .gift-card-holder .corner.top-left {
  top: -1px;
  left: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
}
.template-gift_card .gift-card-holder .corner.bottom-right {
  right: -1px;
  bottom: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
}
.template-gift_card .gift-card {
  position: relative;
  box-sizing: border-box;
}
.template-gift_card .gift-card::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 10px;
  content: "";
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.template-gift_card .gift-card img {
  max-width: 100%;
  border-radius: 10px;
}
.template-gift_card .gift-card-code-outer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
.template-gift_card .gift-card-code-outer.medium {
  font-size: 0.875em;
}
.template-gift_card .gift-card-code-outer.small {
  font-size: 0.75em;
}
.template-gift_card .gift-card-code-inner {
  display: inline-block;
  max-width: 450px;
  padding: 0.5em;
  vertical-align: baseline;
  background-color: #fff;
  border-radius: 4px;
  zoom: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.template-gift_card .gift-card-code-inner strong {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 1.875em;
  line-height: 1;
  color: #777;
  text-transform: uppercase;
  vertical-align: baseline;
  border: 1px dashed #e5e5e5;
  border-radius: 2px;
  zoom: 1;
}
.template-gift_card .small .gift-card-code-inner {
  overflow: auto;
}
.template-gift_card .disabled .gift-card-code-inner strong {
  color: #999;
  text-decoration: line-through;
}
.template-gift_card .gift-card-code-inner span + span {
  margin-left: 0.25em;
}
.template-gift_card .gift-card-amount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4em 0.5em;
  font-size: 2.75em;
  color: #fff;
}
.template-gift_card .gift-card-amount.medium {
  font-size: 2.25em;
}
.template-gift_card .gift-card-amount strong {
  display: block;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.template-gift_card .tooltip {
  position: relative;
}
.template-gift_card .tooltip:hover .tooltip-container {
  display: block;
}
.template-gift_card .tooltip-container {
  position: absolute;
  top: -50%;
  right: 50%;
  z-index: 3;
  display: block;
  margin-top: 0.25em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  animation: popup 0.5s ease-in-out both 0.7s;
}
.template-gift_card .tooltip-triangle {
  position: absolute;
  bottom: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
}
.template-gift_card .tooltip-label {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  position: relative;
  right: -50%;
  display: block;
  min-height: 14px;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background: rgba(51, 51, 51, 0.9);
  border: 0;
  border-radius: 4px;
}
.template-gift_card .gift-card-instructions {
  margin: 0 0.75em 1.5em;
  font-size: 0.875em;
  color: #999;
  text-align: center;
}
.template-gift_card .gift-card-qr-code {
  display: block;
}
.template-gift_card .gift-card-qr-code img {
  padding: 1.25em;
  margin: 0 auto 1.25em;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.template-gift_card .gift-card-actions {
  position: relative;
  display: block;
  padding: 1.25em 0.75em;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #f2f2f2;
}
.template-gift_card .action-link {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  margin-top: 1.75em;
  font-size: 0.875em;
  letter-spacing: 0.2em;
  color: #bfbfbf;
  text-transform: uppercase;
}
.template-gift_card .action-link:hover {
  color: #999;
}
.template-gift_card .action-link:hover .ico-16 {
  opacity: 0.4;
}
.template-gift_card .ico-16 {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.5em;
  margin-bottom: -1px;
  vertical-align: bottom;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.25;
  zoom: 1;
  transition: opacity 0.3s ease-in-out;
}
.template-gift_card .ico-16.print {
  background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
}
.template-gift_card footer[role=contentinfo] {
  padding-bottom: 3em;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .gift-card-apple-wallet-badge {
  display: inline-block;
}
.template-gift_card .gift-card-apple-wallet-badge-image {
  display: block;
}
@media screen and (max-width: 580px) {
  .template-gift_card body {
    font-size: 15px;
  }
  .template-gift_card h2 {
    font-size: 1.5em;
  }
  .template-gift_card .gift-card-outer-container {
    padding: 0.5em;
  }
  .template-gift_card .tooltip-container {
    top: -65%;
  }
  .template-gift_card .gift-card-actions .btn {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.125em;
  }
  .template-gift_card .action-link {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    left: auto !important;
    display: none;
    font-size: 1.125em;
  }
  .template-gift_card .action-link + .action-link {
    margin-left: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .template-gift_card h2 {
    font-size: 1.25em;
  }
  .template-gift_card .gift-card {
    font-size: 10px;
  }
  .template-gift_card .gift-card-holder .corner {
    display: none;
  }
  .template-gift_card .gift-card-holder .corner.bottom-right {
    background-position: bottom right !important;
  }
  .template-gift_card .gift-card-amount strong {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .template-gift_card .tooltip-container {
    top: -75%;
  }
}
@media screen and (max-height: 800px) {
  .template-gift_card .shop-title {
    max-height: 100px;
  }
}
@media screen and (max-height: 750px) {
  .template-gift_card .shop-title {
    max-height: 80px;
  }
  .template-gift_card header {
    padding: 2em 0;
  }
  .template-gift_card footer[role=contentinfo],
.template-gift_card main {
    padding-bottom: 2em;
  }
}
@media print {
  @page {
    .template-gift_card {
      margin: 0.5cm;
    }
  }
  .template-gift_card p,
.template-gift_card h2,
.template-gift_card h3 {
    orphans: 3;
    widows: 3;
  }
  .template-gift_card h2,
.template-gift_card h3 {
    page-break-after: avoid;
  }
  .template-gift_card body {
    background-color: #fff;
  }
  .template-gift_card .gift-card-actions,
.template-gift_card .gift-card-holder .corner,
.template-gift_card .tooltip-container,
.template-gift_card .gift-card::before {
    display: none;
  }
  .template-gift_card .gift-card-code-inner strong {
    color: #555;
  }
  .template-gift_card .gift-card-amount .tooltip {
    color: #fff !important;
  }
  .template-gift_card .shop-title {
    color: #58686f;
  }
  .template-gift_card .gift-card-outer-container,
.template-gift_card .gift-card-inner-container,
.template-gift_card .gift-card-code-inner,
.template-gift_card .gift-card::before {
    box-shadow: none;
  }
}